@use 'variaveis';

.assine{
    display: flex;
    margin-top: 40px;
    padding: 60px;

    &__img{
        &__item{
            max-width: variaveis.$imgWidth;
            width: 100%;
            border: 2px solid variaveis.$corTitulo;
            display: block;
            -webkit-mask-image: radial-gradient(circle, variaveis.$corFundo 100%, transparent 100%);
            mask-image: radial-gradient(circle, variaveis.$corFundo 10%, transparent 100%);
        }
    }

    &__conteudo{
        margin-left: 40px;
        text-align: center;

        &__titulo{
            font-size: variaveis.$fonteTitulo;
            color: variaveis.$corTitulo;
        }

        &__texto{
            font-size: variaveis.$fonteTexto;
        }

        &__botao{
            border: 1px solid variaveis.$corTitulo;
            border-radius: 6%;
            padding: 10px 26px;
            font-weight: bolder;
            font-size: 20px;
            background-color: variaveis.$corBotao;

            &:hover{
                cursor: pointer;
                background-color: variaveis.$corTitulo;
                color: variaveis.$corFundo;
            }
        }
    }

    @media (max-width: 640px){
        display:block;
        margin: 0 auto;

        &__img{
            display: none;
        }

        &__conteudo{
            text-align: center;

            &__titulo{
                font-size: 20px;
                color: variaveis.$corTitulo;
            }

            &__texto{
                font-size: 16px;
            }
        }
    }

    @media (max-width: 1024px){
        display:block;
        margin: 0 auto;

        &__img{
            display: none;
        }

        &__conteudo{
            text-align: center;

            &__titulo{
                font-size: 20px;
                color: variaveis.$corTitulo;
            }

            &__texto{
                font-size: 16px;
            }
        }
    }
}