@use 'variaveis';

.title{
    color: variaveis.$corTitulo;
    font-size: variaveis.$fonteTitulo2;
}

.faq{
    margin-top: 60px;
    margin-left: 30px;

    &__questions{
        &__item{
            list-style: none;
            &__question{
                color: variaveis.$corTexto;
                border: 1px solid variaveis.$corTitulo;
                font-size: variaveis.$fonteTexto;
                padding: 20px;
                margin-bottom: 5px;
                display: block;
                cursor: pointer;
                position: relative;
                

                &::after {
                    content: '+';
                    position: absolute;
                    top: 0;
                    right: 24px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 40px;
                }
            }

            &__answer {
                height: 0;
                overflow: hidden;
                padding: 0 24px;
                transition: height, .5s ease;
            }

            &--is-open {
                .faq__questions__item__question::after {
                    content: '-';
                }
                
                .faq__questions__item__answer {
                    height: auto;
                    padding-bottom: 24px;
                    transition: height, .5s ease;
                }
            }
        }
    }
}