@use 'variaveis';

.grupos{
    margin-top: 60px;

    &__title{
        font-size: 20px;
        text-align: center;
    }

    &__navegacao{
        display: flex;

        &__botao{
            &--is-active{
                background-color: variaveis.$corTitulo;
                color: variaveis.$corFundo;
            }
            border: none;
            border-bottom: 2px solid variaveis.$corBotao;
            padding: 20px;
            font-weight: bold;
            font-size: variaveis.$fonteTexto;
            margin-left: 30px;
        }
    }

    &__lista{
        display: none;

        &--is-active{
            display: block;
        }
        &__item{
            display: flex;
            &__img{
                border: 2px solid variaveis.$corTitulo;
                max-width: variaveis.$imgWidth;
                width: 100%;
                margin-left: 30px;
                margin-right: 30px;
                display: block;
                -webkit-mask-image: radial-gradient(circle, black 60%, transparent 100%);
                mask-image: radial-gradient(circle, black 60%, transparent 100%);
            }
            &__texto{
                font-size: 18px;
            }
        }
    }
}