@use 'variaveis';
@use 'cabecalho';
@use 'hero';
@use 'assine';
@use 'personagens';
@use 'grupos';
@use 'faq';
@use 'footer';

@font-face {
    font-family: Press-start;
    src: url(../../assets/PressStart2P-Regular.ttf);
    font-weight: 400;
}

* {
    background-color: #f5f6fa;
    color:#2f3640;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
